;NETWORK
PORT=


;5PAISA_CREDS
FIVEPAISA_CREDS=
FIVEPAISA_APPSOURCE=
FIVEPAISA_APPNAME=
FIVEPAISA_USERID=
FIVEPAISA_PASSWORD=
FIVEPAISA_USERKEY=
FIVEPAISA_ENCRYPTIONKEY=

;KITE_CREDS
KITE_API_KEY=
KITE_API_SECRET=


;TELEGRAM_CREDS
MY_TELEGRAM_ID=

;STRATEGY_DETAILS
STRATEGY_ID=

;ALGO_TRADE_DETAILS
PLACE_ORDER_KITE=
KITE_ORDER_QTY=
PLACE_ORDER_5PAISA=
FIVEPAISA_ORDER_QTY=

